:root {
  --backgroundColor: #EBECF0;
  --shadowColor: #BABECC;
  --white: #FFFF;
  --actionTextColor: #737373;
  --colorPurple: #D1C9DA;
  --colorOrange: #EBD2CB;
  --appMaxWidth: 400px;
  --color-shadow: 12,13,18;
  --color-light: 255, 255, 255;
  --classicBlue: #0F4C82;
  --classicBlueLighter: #427FB5;
  --lightBlue: #9CB7D4;
  --grey: rgba(68, 68, 68, 0.4);
}

*{
  -webkit-tap-highlight-color: transparent;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--backgroundColor);
  margin: 0px;
}

input, textarea, pre, select, button {
  font-family: 'Roboto', sans-serif;
}

button, input {
  border: 0;
  outline: 0;
  border-radius: 25px;
  background-color: var(--backgroundColor);
  text-shadow: 1px 1px 0 var(--white);
}

button {
  color: var(--actionTextColor);
  font-weight: bold;
  box-shadow: -5px -5px 20px var(--white),  5px 5px 20px var(--shadowColor);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 15px;
}

button:hover {
  box-shadow: -2px -2px 5px var(--white), 2px 2px 5px var(--shadowColor);
}

button:active {
  box-shadow: inset 1px 1px 2px var(--shadowColor), inset -1px -1px 2px var(--white);
}

input {
  box-shadow: inset 2px 2px 5px var(--shadowColor), inset -5px -5px 10px var(--white);
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  margin-bottom: 30px;
  padding: 16px;
}

input:focus {
  box-shadow: inset 1px 1px 2px var(--shadowColor), inset -1px -1px 2px var(--white);
}

.icon{
  height: 20px;
  width: 20px;
}

.icon path{
  fill: var(--grey);
}
