:root {
  --backgroundColor: #FFFCF6;
  --shadowColor: #D9D6D0;
  --inputTextColor: #757575;
  --white: #FFFF;
  --actionTextColor: #81807e;
  --appMaxWidth: 400px;
  --classicBlue: #0F4C81;
  --paprika: #DF6741;
  --green: #358263;
  --boxShadow: -2px -2px 5px var(--white), 2px 2px 5px var(--shadowColor);
  --boxShadowInset: inset 2px 2px 5px var(--shadowColor), inset -2px -2px 5px var(--white);
  --transition: all 0.3s ease-in-out;
  --solidBorder: 0.5px solid var(--shadowColor);
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--backgroundColor);
  margin: 0px;
}

input, textarea, pre, select, button {
  font-family: 'Roboto', sans-serif;
}

button, input {
  border: 0;
  outline: 0;
  border-radius: 25px;
  background-color: var(--backgroundColor);
  outline: 0;
}

button {
  color: var(--actionTextColor);
  font-weight: bold;
  box-shadow: var(--boxShadow);
  border: var(--solidBorder);
  transition: var(--transition);
  cursor: pointer;
  padding: 10px 15px;
}

button:active {
  box-shadow: none;
}

input {
  box-shadow: var(--boxShadowInset);
  width: 100%;
  box-sizing: border-box;
  transition: var(--transition);
  appearance: none;
  margin-bottom: 30px;
  padding: 16px;
  border: var(--solidBorder);
}

input:focus {
  box-shadow: inset 1px 1px 2px var(--shadowColor), inset -1px -1px 2px var(--white);
}

input[type=number]{
  width: 100px;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
  margin-left: 5px;
}

.icon{
  path{
    fill: var(--actionTextColor);
    stroke: var(--actionTextColor);
  }
}

.iconButton {
  cursor: pointer;
}

.topNav {
  display: flex;
  justify-content: space-around;
  width: 360px;
  margin-bottom: 20px;
  height: 40px;
  position: relative;

  .tab {
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 30px 10px 0 10px;
    transition: var(--transition);
    cursor: pointer;
    color: var(--actionTextColor);
  }

  hr {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    top: 60px;
    position: absolute;
    margin: 0;
    background: var(--paprika);
    border: none;
    transition: var(--transition);
    box-shadow: 0 0 10px var(--paprika);
  }
}

select {
  display: block;
  font-size: 13px;
  color: var(--actionTextColor);
  line-height: 1.3;
  padding: 10px;
  min-width: 100px;
  box-sizing: border-box;
  margin: 0;
  border: var(--solidBorder);
  border-radius: 25px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--backgroundColor);
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/4b/Feather-arrows-chevron-down.svg');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%;
  background-size: 10px auto;
  margin-bottom: 30px;
}

select::-ms-expand {
  display: none;
}

select:focus {
  border: var(--solidBorder);
  color: var(--actionTextColor);
  outline: none;
}
